*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #333131, #1a1616, #db0000, #831010);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	50% {
		background-position: 100% 70%;
	}
	50% {
		background-position: 100% 70%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#title {
    display: flex;
    height: 100px;
    color: white;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#save-later {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    transition: 1s;
    transition: background 1s, transform 1s;
}

#back-main {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
    transition: 1s;
    transition: background 1s, transform 1s;
}

#title-two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#feature-name {
    background-color: black;
    color: white;
    margin: 30px;
    padding: 100px 75px;
    font-size: 30px;
    border-radius: 20px;
}

#feature-ratings {
    background-color: black;
    color: white;
    margin: 30px;
    padding: 100px 150px;
    font-size: 30px;
    border-radius: 20px;
}

#feature-location {
    background-color: black;
    color: white;
    margin: 30px;
    padding: 100px 300px;
    font-size: 30px;
    border-radius: 20px;
}

#body-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#feature-description {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
    width: 600px;
    display: flex;
    justify-content: center;
}

#feature-cast-crew {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 0px 0px 20px 20px;
    width: 600px;
    display: flex;
    justify-content: center;
    height: 250px;
}

#feature-trailer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    height: 650px;
    width: 1200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#save-later:hover {
    background-color: rgb(85, 85, 85);
    transform: translateY(-10px);

}

#save-later:active {
    background-color: black;
}

#back-main:hover {
    background-color: rgb(85, 85, 85);
    transform: translateY(-10px);
}

#back-main:active {
    background-color: black;
}